body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    width: 100%;
    height: 100%;
    --size: 80px;
    --color: #8fc5e9;
  
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 40%,
        #8fc5e9 41%,
        #8fc5e9 60%,
        transparent 61%,
        transparent 100%
      ),
      linear-gradient(
        45deg,
        #8fc5e9 25%,
        transparent 25%,
        transparent 50%,
        #8fc5e9 50%,
        #8fc5e9 75%,
        transparent 75%,
        transparent
      );
    background-size: var(--size) var(--size);
}

.container {
    background-color: #8fc5e9;
    border-radius: 8px;
    box-shadow: 0 4px 8px ☐ rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 90%;
    width: 45%;
    margin: 20px auto;
    box-sizing: border-box;
}

h1 {
   color: white;
}

#dica {
    color: #6c757d;
    margin-bottom: 20px;
}

#palavra {
    color: #343a40;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

#guess {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;

}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

}

/*Estilizando os botões*/
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    flex: 1 1 150px;
    max-width: 200px;

}

.btn-primary {
    background-color: #007bff;
    color: white;

}

.btn-primary:hover {
    background-color: #0056b3;

}

.btn-secondary {
    background-color: #6c757d;
    color: white;

}

.btn-secondary:hover {

    background-color: #5a6268;

}

/* Espaçamento para o status e Letras tentadas */
#status,
#attempts {
    font-size: 1.1em;
    color: #495057;
    margin-top: 20px;

}

/* Estilizando a área da forca */
#forca {
    width: 150px;
    height: 250px;
    margin: 20px auto;
    position: relative;

}

#forca div {
    background-color: blue;
    position: absolute;

}

/* Estilizando o rodapé (footer) */
footer {
    background-color: #8fc5e9;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
    margin-top: auto;
    line-height: 1.6;
    width: 100%;

}

/* Estilizando o cabeçalho (header) */
header {
    background-color: #8fc5e9;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;

}

/* Ajustando a imagem do logo no cabeçalho */
img.livro-logo {
    background-color: #8fc5e9;
    max-width: 60%;
    height: auto ;
    display: block;
    margin: 0 auto;

}

/* Estilo para display-4 */
.display-4 {
    font-size: 2.5rem;
    /* Tamanho da fonte para telas maiores*/
    font-weight: 300;
    line-height: 1.2;

}

/* Media Queries para teclas menores*/
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 25px;

    }

    .btn {
        flex: 1 1 100%;
        /* Botões ocupam toda a largura disponível */
        max-width: none;
        /* Remove a Largura máxima */
        margin-bottom: 10px;
        /* Espaçamentos inferior entre botões empilhados */

    }

    #force {
        width: 120px;
        height: 200px;

    }

    footer,
    header {
        padding: 10px 0;
        font-size: 16px;

    }

    img.livro-logo {
        max-width: 30%;

    }

    .display-4 {
        font-size: 2rem;
        /* Ajuste para tablets e dispositivos intermediarios */
    }

}

@media (max-width: 480px) {

    .container {
        width: 95%;
        padding: 10px;

    }

    #force {
        width: 100px;
        height: 180px;

    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;

    }

    footer,
    header {
        font-size: 14px;

    }

    img.senai-logo {
        max-width: 40%;

    }

    .display-4 {
        font-size: 1.5rem; /* Ajuste para dispositivos moveis */

    }

}
